/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
   
  
    
}




/* header section  start*/


header{
    /* width: 1920px;
    height: 130px; */
    background-color: #FFFFFF;
}


.navbarhead{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* namelog */
.namelog{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* imglogo */

.imglogo{
    padding: 44px 15px 46px 240px;
    color: #FFFFFF;
}

/* game */

.game{
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    color: #0B0223;
    width: 147px;
    height: 53px;
    padding: 38px 0 39px 20px;
    
}

span{
     background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    background-clip: text;
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent; 
}

/* aboutdeveloper  */





/* .about */
.aboutdeveloper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about ul{
    display: flex;
    text-decoration: none;
    justify-content: space-between;

}


.about ul li a{
    text-decoration: none;
    
}

.aboutus{
    width: 81px;
    height: 21px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding: 37px 40px 37px 575px;
    
}



.Develop{
    width: 98px;
    height: 21px;
    color: #3C354F;
    text-align: center; 
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding: 54px 32px 55px 0;
   

   
}



.follow{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 262px;
    height: 56px;
    padding: 37px 240px 37px 1418;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}

/* follwus */
.follwus{
    width: 116px;
    height: 21px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    padding: 16px 0 16px 44px;
    
}
.yoti{
    padding: 16px 24px 16px 0;
}

/* header section end  */


/* main section start */

/* bannner 1 section start */

.banner1{
    width: 1920px;
    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    display: flex;
  
}

.section1{
    width: 901px;
    height: 700px;
    background: #FFF;
    
}

.playlike{
    width: 358px;
    height: 46px;
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    padding: 148px 0px 0px 244px;
}
.Goat{
    width: 355px;
    height: 75px;
    text-align: center;
    font-size: 75px;
    font-style: normal;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 4px 0px 0px 240px;
}



#click{
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-transform: lowercase;
    padding: 12px 0px 0px 0px;
}
#download{
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding: 12px 0px 0px 276px;

}
#supported{
    color: #534C64;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding: 12px 0px 0px 276px;
}


.pri_btn{
    width: 160px;
    height: 65px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    margin-left: 240px;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}
.sce_btn{
    width: 189px;
    height: 65px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    margin-left: 4px;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}

.section2{
    width: 901px;
    height: 700px;
    background: #FFF;
}

.bannerpic{
    padding-top: 19px;
}

/* banner1 section ends */

/* banner2 section start */
.banner2{
    width: 1920px;
    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    display: flex;
    padding-top: 10px;
    padding-bottom: 15px;
  
}
.imgsec{
    width: 868px;
    height: 489px;
    padding: 55px 0px 0px 240px;
}

.wegame{
    width: 325px;
    height: 56px;
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 125px 240px 0px 247px;
}

.deatisdescribe{
    width: 520px;
    height: 120px; 
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 24px 0px 0px 52px;

}

.btn_more{
    color: #FFF;
    
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    margin: 32px 0px 0px 364px;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
}

.ourpurpose{
    width: 520px;
    height: 88px;
    color: #534C64;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    padding: 24px 0px 96px 52px;

}

.unleash{
    color: #534C64;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}

/* banner2 section end */

.onlinecollection{
    padding-top: 120px;
    padding-left: 696px;
    padding-right: 633px;
    width: 627px;
}

.online{
    width: 655px;
    height: 56px;
    color: #0B0223;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
}


    .funny{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;

    }

    .colllection{
        width: 462;
        height: 30px;
       padding-left: 55px;
       
    }

    /* div picid="picdescrive" start */


    .futureimgadescrive{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 240px 0px 240px;

    }

   

    #picdescrive{
             width: 360px;
             height: 60px;
             color: #534C64;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;

    }

    /* div section end  */

    /* onlinedownload div section start */

    .onlinedownload{
        width: 1520px;
        height: 800px;
        display: flex;
        justify-content: space-between;
        /* padding: 70px 150px 0px 150px; */
        margin: 70px 150px 0px 150px;
       
        
    }

    .downloadonline{
        width: 341px;
        height: 180px;
        padding: 143px 0px 0px 158px;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        gap: 50px;
    

    }

    .discriveonline{
        width: 353px;
        height: 90px;
        padding: 16px 0px 0px 164px;
        color: #534C64;
        text-align:center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        
    }

    .imgdownload{
        padding: -5px 220px 0px 0px;
    }
    .imgdownload img{
        width: 60%;
    }

    .imgdownload .imgsize{
        width: 30%;
    }
    .img1{
        padding-left: 403px;
    }

    .imgsize{
        margin-top: -250px;
        margin-left: 240px;
    }

    /* online play section */

    .onlineplay{
        width: 1520px;
        height: 800px;
        display: flex;
        justify-content: space-between;
        /* padding: 70px 150px 0px 150px; */
        margin: 70px 150px 0px 150px;
    }

   
    .imgsizeplay{
        margin-top: -250px;
        margin-left: 520px;
    }

    .playonline{
        width: 341px;
        height: 180px;
        padding: 143px 0px 0px 18px;
        text-align: center;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        gap: 50px;
    }

    .discriveonlineplay{
        width: 353px;
        height: 90px;
        padding: 16px 0px 0px 16px;
        color: #534C64;
        text-align:center;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        
    }